.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
  }
  
  .loading-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .app-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .app-item {
    cursor: pointer;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: background-color 0.3s ease;
        width: 120px;
  
    &:hover {
      background-color: #f0f0f0;
    }
  }
  
  .app-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
  
  .settings-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #2980b9;
    }
  }


.settings-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.settings-page h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.settings-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings-page label {
  margin: 10px 0;
}

.settings-page input {
  padding: 5px;
  margin-left: 5px;
}

.settings-page button {
  margin-top: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.settings-page button:hover {
  background-color: #45a049;
}


  